<%- include('partials/head') %> 
  <body>
    <%- include('partials/navbar') %>
    <h1><%= subreddit %> does not exist</h1>
    <img src="../assets/droids.jpg" alt="no hay foto" />
  </body>
</html>
