<!-- The folder views os for ejs to point at -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page <%= 4 + 5 +1 %></h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, tempora
      vel. Iusto sed eveniet facilis dolores sit iure excepturi quidem, eius
      nobis quae, possimus unde dolore distinctio harum perspiciatis blanditiis!
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione neque
      possimus saepe impedit, eos a deleniti? Mollitia, ducimus ut laborum at
      corrupti animi eius tempora quia tempore consequuntur sunt deserunt?
    </p>
  </body>
</html>
